.nav_bar {
    list-style-type: none;

}

body{
    margin: 0;/* Remove default margin */
    min-height: 100vh;
    background: linear-gradient(to bottom,
      #18181b 0%,
      #1d1c20 45%,
      #51414a 70%,
      #b38c9b 100%);
    background-repeat: no-repeat;
} 