.nav_bar {
    list-style-type: none;
    font-weight: 400;
    font-size: 20px;

}
ul.nav_bar {
    font-family: 'Jersey 15', sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 2rem;
    font-size: clamp(1rem, 5vw, 2rem);

    display: flex;
    justify-content: center;
    gap: clamp(1rem, 5vw, 4rem);
    flex-wrap: wrap;
}

ul.nav_bar a {
    text-decoration: none;
    color: #f5f5f5;
  
}
ul.nav_bar a:hover {
    color: #865DFF;
    transition: 0.3s ease-in-out;
}

/*HOMEPAGE*/
.index{
    margin: 0;/* Remove default margin */
    min-height: 100vh;
    background: linear-gradient(to bottom,
      #18181b 0%,
      #1d1c20 45%,
      #51414a 70%,
      #b38c9b 100%);
    background-repeat: no-repeat;
} 

.title {
    display:flex;
    justify-content: center;
    padding-top: 20vh;
    font-family: 'Jersey 15', sans-serif;
    font-size: clamp(3rem, 8vw, 7rem);
    color: #f5f5f5;
    text-align: center;
    margin-top: 10vh;
}
/* TUTORIAL */
.tutorial,
.level1,
.about {
    margin: 0;/* Remove default margin */
    min-height: 100vh;
    background: linear-gradient(to bottom,
        #19191a 0%,
        #222125 75%,
        #3d363d 88%,
        #78656b 100%);
    background-repeat: no-repeat;
}

.tutorial-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.block-guy {
    padding-bottom: 8vh;
    position: fixed;
    width: 3%;
    height: auto;
}
#typed-text {
    display: inline-block;
    font-family: 'Jersey 15', sans-serif;
    font-size: clamp(1rem, 5vw, 2rem);
    color: #f5f5f5;
    text-align: center;
    margin-top: 10vh;
}
.typed-cursor {
    font-family: 'Jersey 15', sans-serif;
    font-size: clamp(1rem, 5vw, 2rem);
    color: #f5f5f577;
    text-align: center;
    margin-top: 10vh;
}
/* LEVEL 1 PAGE CSS */
.dropdown {
    padding-bottom: 30px;
  display: flex;
  flex-direction: row;
}

.dropdown:hover .drop-level {
  display: block;
  transition: transform 0.6s;
}
.drop-level {
  display: none;
  position: absolute;
  top: 90px;
  right: 417px;
  /*border: 1px solid gray;*/
  background-color: #1E1E1E;
  min-width: 120px;
  z-index: 100;
}

.drop-level a {
  height: 100%;
  font-size: 22px;
  color: rgb(25, 84, 31);
  display: flex;
  text-decoration: none; /*removes the link underline*/
  align-items: center;
  padding: 5px;
  width: 250px;
  border: 1px solid rgb(188, 188, 188);
}

.drop-level a:hover {
  color: white;
  background-color: rgb(188, 188, 188);
}