

.nav_bar {
    list-style-type: none;
    font-weight: 400;
    font-size: 20px;
}
.nav_bar {
    font-family: 'Jersey 15', sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;

    font-size: clamp(1rem, 5vw, 2rem);
    display: flex;
    justify-content: center;
    gap: clamp(1rem, 5vw, 4rem);
    flex-wrap: wrap;
}

.nav_bar li {
    color: #f5f5f5;
    padding: 20px;
}

.nav_bar a {
    text-decoration: none;
    color: inherit;
}

.nav-icon {
    width: 32px;
    height: 32px;
    object-fit: contain;
    image-rendering: pixelated;
    vertical-align: middle;
    margin-right: 8px;
}

.nav_bar li:hover {
    color: #865DFF;
}
.nav_bar li:hover {

    transition: 0.2s ease-in-out;
}

/*HOMEPAGE*/
.index{
    margin: 0;/* Remove default margin */
    min-height: 100vh;
    background: linear-gradient(to bottom,
      #18181b 0%,
      #1d1c20 45%,
      #51414a 70%,
      #b38c9b 100%);
    background-repeat: no-repeat;
} 

.title-container {
    position: relative;
    width: fit-content;
    margin: 30vh auto 0 auto;
}

.title {
    font-family: 'Jersey 15', sans-serif;
    font-size: clamp(3rem, 8vw, 7rem);
    color: #f5f5f5;
    text-align: center;
    margin: 0;
}

.wing {
    position: absolute;
    width: clamp(40px, 7vw, 90px);
    height: auto;
    image-rendering: pixelated;
}

.wing-left {
    right: 100%;
    top: -20%;
    margin-right: 2rem;
    transform-origin: bottom right;
    animation-duration: 3.0s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-name: flapLeft;
}

.wing-right {
    left: 100%;
    top: -20%;
    margin-left: 2rem;
    transform-origin: bottom left;
    animation-duration: 3.0s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-name: flapRight;
}

@keyframes flapLeft {
    0%, 100% {
        transform: translateY(0) rotate(0deg);
    }

    50% {
        transform: translateY(20px) rotate(10deg);
    }
}

@keyframes flapRight {
    0%, 100% {
        transform: translateY(0) rotate(0deg);
    }

    50% {
        transform: translateY(20px) rotate(-10deg);
    }
}

.start-button {
    display: block;
    width: 100px;
    padding: 8px 0;
    margin: 1.3rem auto 0 auto;

    background-color: #242126;
    border: 2px solid #6f5963;
    border-radius: 8px;

    font-family: Arial, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: #f5f5f5;
    text-align: center;
    text-decoration: none;

    transition: 0.3s ease-in-out;
}

.start-button:hover {
    color: #865DFF;
    border-color: #865DFF;
}

/* TUTORIAL */
.tutorial,
.level1,
.about,
.tutorial-main {
    margin: 0;/* Remove default margin */
    min-height: 100vh;
    background: linear-gradient(to bottom,
        #19191a 0%,
        #222125 75%,
        #3d363d 88%,
        #78656b 100%);
    background-repeat: no-repeat;
    overflow: hidden;
}

.tutorial-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.block-guy-text {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 80%;
}
.block-guy {
    padding-bottom: 8vh;
    position: fixed;

    width: 3%;
    height: auto;
   image-rendering: pixelated; /* Ensures the pixel art is VERY CLEAR HURRAY */
}
#typed-text {
    display: inline-block;
    font-family: 'Jersey 15', sans-serif;
    font-size: clamp(1rem, 5vw, 2rem);
    color: #f5f5f5;
    text-align: center;
    margin-top: 10vh;
}
.typed-cursor {
    font-family: 'Jersey 15', sans-serif;
    font-size: clamp(1rem, 5vw, 2rem);
    color: #f5f5f577;
    text-align: center;
    margin-top: 10vh;
}

#choice-buttons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 30vh;
    position: fixed;
    display:none
}

#choice-buttons button {
    font-family: 'Jersey 15', sans-serif;
    font-size: 2rem;
    padding: 10px 30px;

    background-color: #865DFF;
    color: white;

    border: none;
    border-radius: 10px;

    cursor: pointer;
    
}
#transition-button-container {
    display: none;
    justify-content: center;
    margin-top: 2rem;
}
#transition-button {
    font-family: 'Jersey 15', sans-serif;
    font-size: 2rem;
    padding: 10px 30px;

    background-color: #865DFF;
    color: white;

    border: none;
    border-radius: 10px;

    cursor: pointer;
}

/* TUTORIAL MAIN CSS */
.speech-bubble-container {
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    display: flex;
    flex-direction: column;
}

.speech-bubble {
bottom: -1.5rem; 
width: 60vw; height: 20vh; 
image-rendering: pixelated; }

.punch-guy { position: fixed
; bottom: -1rem;
 right: 67vw;
 width: 5vw; 
height: auto;
 image-rendering: pixelated;}

.tutorial-video{
 position: fixed;
 top: 25vh; 
left: 5%; 
width: 45vw; }

.webcam{
    z-index: 1;
 position: fixed;
 top: 17vh;
 left: 56%;
 width: 40vw;
 }

.webcam-buttons {
    position: fixed;
    top: 75vh;
    left: 90%;
    z-index: 2000;

    display: flex;
    flex-wrap: wrap;
    gap: 5px;

    width: clamp(300px, 30vw, 500px);

    transform: translateX(-50%);
}

#stop-webcam, #start-webcam{
    width: clamp(80px, 10vw, 140px);
    font-family: 'Jersey 15', sans-serif;
    background-color: #ee85dd;
    color: white;
}

#start-recording, #stop-recording{
    width: clamp(80px, 10vw, 140px);
    font-family: 'Jersey 15', sans-serif;
    background-color: #9f88e2;
    color: white;
}
.instructions-container{
    position: fixed;
    top: 70vh;
    left: 50%;
    transform: translateX(-50%);
    width: 80vw;
    text-align: center;
}

/* LEVEL 1 PAGE CSS */

.level1 {
    overflow: scroll;
}

.dropdown {
  display: flex;
  flex-direction: row;
  position: relative;
}

.dropdown:hover .drop-level {
  display: block;
  transition: transform 0.2s;
}

.drop-level {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #1E1E1E;
  min-width: 120px;
  z-index: 100;
}

.drop-level a {
  height: 100%;
  font-size: 22px;
  color: white;
  display: flex;
  text-decoration: none; /*removes the link underline*/
  padding: 15px;
  width: 150px;
  border: 1px #1E1E1E;

}

.drop-level a:hover {
  color: white;
  background-color: rgb(188, 188, 188);
  border: 1px #1E1E1E;
}

.drop-level img {
    padding-right: 10px;
    image-rendering: pixelated;
}
.content {
    display: flex;
    justify-content: center;
}
.camera_slot {
    margin-top: 50px;
    width: 60vw;
    min-width: 600px;
    height: 80vh;
    background-color: grey;
}

.second_hlf {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.lvl_ttl {
    text-align: center;
    color: white;
    font-size: 5vw;
    font-family: 'Jersey 15', sans-serif;
}



/*example*/
/* Page Style */
/*body {
	box-sizing: border-box;
	min-block-size: 100vb;
	padding: 2rem;
	font-family: sans-serif;
	font-size: 1.4rem;
	line-height: 1.5;
	color: hsl(261deg 100% 25%);
	background: linear-gradient(
		120deg,
		hsl(260deg 80% 50%),
		hsl(0deg 100% 50%)
	);
}*/
.example {
    width: 90%;
    max-width: 1100px;
}

details {
	position: relative;
	/*max-inline-size: 40rem;*/
	padding: 1rem;
    width: 100%;
    color:rgb(225, 159, 231);
	margin-block: 1rem 0;
	margin-inline: auto;
	background-image: linear-gradient(
		to left,
		#474350 40%,
        black 90%
	);
	border: 1px solid hsl(0, 0%, 0%);
	border-radius: 0.3rem;
}

summary {
    color: white;
    font-size: 40px;
    font-family: 'Jersey 15', sans-serif;;
	position: relative;
	cursor: pointer;
}

.details__content {
    padding-bottom: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}
/* Demo Code */
.details::details-content {
	display: block;
	margin-inline: 2rem;
	block-size: 0;
	overflow: hidden;
	transition-property: block-size, content-visibility;
	transition-duration: 0.5s;
}

.details[open]::details-content {
	/* Fallback for browsers that don't support calc-size() function */
	block-size: auto;
	
	/* calc-size() function allows transition to height: auto; */
	block-size: calc-size(auto, size);
}

/* List Item ::marker supports only some CSS properties, so we're using ::before pseudo-element instead */
/*summary::marker {
	content: '»';
	content: none;
}

summary::before {
	content: '»';
	position: absolute;
	inset-inline-start: 1rem;
	inset-block-start: -0.05rem;
	transition: rotate 0.2s;
}*/

.details[open] summary::before {
	rotate: 90deg;
	inset-block-start: 0.05rem;
}


.punch_tut {
    justify-content: center;
    width: 50%;
}

.punch_ref {
    flex: 1 1 350px;
    max-width: 45vw;
    min-width: 300px;
    height: auto;
}

.details_content {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.steps {
    font-family: 'Jersey 15', sans-serif;
    list-style-type: none;
    align-items: flex-start;
    font-size: clamp(17px, 3vw, 30px);
    
}

.lvl-bubble-container {
    width: 90%;
    max-width: 1200px;
    margin: 2rem auto;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;

    gap: 1rem;
}

.lvl-bubble {
    height: auto;
    width: 100%;
    image-rendering: pixelated;
}

.lvl-buttons{
    display: flex;
    gap: 10px;
    justify-content:center;
    width: 100%;
}

.punch-lvlguy {
    width: clamp(60px, 7vw, 110px);
    height: auto;

    image-rendering: pixelated;
}

.lvl-bubble-container {
    width: 90%;
    max-width: 1100px;
    position: relative;
    bottom: 1rem;
    left: 37%;
    transform: translateX(-50%);
    z-index: 100;
    display: flex;
    flex-direction: column;
}

.lvl-bubble {
    width: 80%;
    height: auto;

    image-rendering: pixelated;
}

.main_cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 30px;
}

.video-row {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    width: 90%;
}

.webcam-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 350px;
    min-width: 300px;
    gap: 10px;
}

.lvlwebcam {
    min-width: 500px;
    max-width: 100%;
    z-index: 1;
}
/*About Page */
/*Ref: https://freefrontend.com/css-scroll-effects/page/2/#03-11-2022-horizontal-scroller-edge-fade-mask-l */
.scrollport {
  mask-image: linear-gradient(to right, #0000, #000, #000, #0000);
  
  overflow-x: auto;
  overscroll-behavior-x: contain;
  
  display: flex;
  gap: var(--size-10);
  align-items: start;
  padding: var(--size-10);
}

.scrollport > div {
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 4%;
  block-size: var(--size-15);
  aspect-ratio: var(--ratio-square);
  flex: 0 0 380px;
  padding: 1rem;
    background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4%;
  box-shadow: var(--shadow-4);
}

.scrollport > div > img {
    width: 350px;
    height: 350px;
    display: block;
    margin: auto;
    margin-top:5%;

    border-radius: 5%;
}

.scrollport> div > a {
    display: block;
    width: fit-content;
    margin-inline: auto;
    
}

.about-container > p {
    color: white;
    padding-top: 2rem;
    width: 50%;
    margin-inline: auto;
    text-align: center;
    
    font-family: Arial, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: #f5f5f5;
    text-align: center;
    text-decoration: none;
}

.about-countainer {
    padding: 1rem;
    text-align: center;
    position: relative;
    width: fit-content;
    margin: 30vh auto 0 auto;
    justify-content: center;
}

.about {
    overflow: scroll;
}

.about-subheading {
    color:white;
    display: inline-block;
    font-family: 'Jersey 15', sans-serif;
    text-align: center;
    font-size: 3rem;
    margin-top: 10vh;
    margin-left: 5vw;
}

#name{
    font-family: 'Jersey 15', sans-serif;
    text-align: center;
    color: black;
}